/* style.css */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-top: 0;
}

.input-container {
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
}


.forminput {
    width: 40%;
    height: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}



.checkbox{
    margin-bottom: 15px;
    margin-right: 20%;
    font-size: small;
}


button {
    width: 285px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}
