* {
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 768px) {
    #password, #username, #submit {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    form {
        width: 70%;
    }

    .img {
        height: 200px;
    }
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    transition: 0.3s ease-in-out;
    padding-bottom: 20px;
    display: flex;
    background: transparent;
    flex-direction: column;
    align-items: center;
    grid-gap: 15px;
    border-radius: 3px;
    border: 1.5px solid grey;
}

form > a {
    text-decoration: none;
    color: black;
}

form > a:hover {
    text-decoration: none;
    color: #555454;
}

form > img {
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 300px;
    border-bottom: 1.5px solid grey;
}

.input {
    padding: 7px;
}

.input[type="submit"] {
    border: none;
    background-color: #0d6efd;
    color: white;
}

.checkbox {
    display: flex;
    grid-gap: 5px;
}

.checkbox > label:hover {
    color: #555454;
}
